@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #f4f4f4;
  padding: 1rem;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    flex-direction: row;
    justify-content: left;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    flex-direction: row;
    justify-content: left;
  }
}
.header__logo {
  display: block;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.header__logo img {
  max-height: 20px;
  max-width: 120px;
}
.header__menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .header__menu {
    justify-content: center;
  }
}
.header__menu-item a {
  color: #b0b0b0;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}
.header__menu-item a:hover, .header__menu-item a:focus, .header__menu-item a.active {
  color: #fff;
}
.header__menu-item a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.header__menu-item a:hover::after, .header__menu-item a:focus::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}
.hero__image {
  width: 100%;
  height: auto;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  pointer-events: none;
}
.hero__title {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .hero__title {
    top: 40%;
    font-size: 25px;
    left: 35%;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 60px;
  }
}

.bio {
  background-color: #FFFFFF;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
.bio__header {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 1rem;
}
.bio__image {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto 1.5rem;
}
.bio__quote {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: justify;
  font-weight: bold;
}
.bio__ {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.bio__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: justify;
}

@media (max-width: 767px) {
  .bio__header {
    font-size: 24px;
    line-height: 32px;
  }
  .bio__quote {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
  }
  .bio__text {
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    padding: 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bio__header {
    font-size: 36px;
    line-height: 44px;
  }
  .bio__quote {
    font-size: 24px;
    line-height: 32px;
  }
  .bio__text {
    width: 45%;
    display: inline-block;
    text-align: justify;
  }
  .bio__text:first-of-type {
    margin-right: 5%;
    float: left;
  }
  .bio__text:last-of-type {
    float: right;
  }
}
@media (min-width: 1280px) {
  .bio__header {
    font-size: 48px;
    line-height: 56px;
  }
  .bio__image {
    max-width: 80%;
  }
  .bio__quote {
    font-size: 24px;
    line-height: 32px;
  }
  .bio__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 1rem;
    width: 45%;
    display: inline-block;
    text-align: justify;
  }
  .bio__text:first-of-type {
    margin-right: 5%;
    float: left;
  }
  .bio__text:last-of-type {
    float: right;
  }
}
.gallery {
  background-color: #FAFAFA;
  padding: 2rem;
  text-align: center;
}
.gallery__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.gallery__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.gallery__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem;
  font-family: "Nunito Sans", sans-serif;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer .footer__social {
    margin-top: 0.5rem;
    display: flex;
    gap: 2rem;
    justify-content: left;
  }
  .footer .footer__logo {
    margin-top: 1.5rem;
    text-align: left;
  }
  .footer .footer__copyright {
    margin-top: 0.5rem;
    font-size: 10px;
    line-height: 18px;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__top .footer__header {
    font-size: 36px;
    line-height: 44px;
  }
  .footer .footer__top .footer__social {
    margin-top: 0;
    display: flex;
    gap: 2rem;
    margin-left: -10rem;
  }
  .footer .footer__top .footer__logo {
    margin: 0;
  }
  .footer .footer__content {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .footer .footer__copyright {
    margin-top: 2rem;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .footer .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__top .footer__header {
    font-size: 36px;
    line-height: 44px;
  }
  .footer .footer__top .footer__social {
    display: flex;
    gap: 2rem;
    margin-left: -10rem;
  }
  .footer .footer__top .footer__logo {
    margin: 0;
  }
  .footer .footer__content {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .footer .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}/*# sourceMappingURL=bio.css.map */